<head>
    <link rel="stylesheet" href="/static/home/index.css">
    <title>MMIV - 2004</title>
</head>
<body>
    <div class="main">
        <div class="main-img">
            <img src="/static/img/banners/mmiv_1.png">
        </div>
        <div class="nav-bar accented">
            <p class="button clickable" id="return-button" style="display: none;">Return</p>
            {{if .IsAdmin}}
            <p class="button clickable" id="dashboard-button">Dashboard</p>
            {{end}}
            <p class="button clickable" id="post-button">Post</p>
            <p class="button clickable" id="logout-button">Logout</p>
        </div>
        <div id="announcement" class="announcement">
            <p id="announcement-text"></p>
        </div>
        <div id="content">
        </div>
    </div>
    <div class="resizable accented post-submit" style="display: none;" id="post-form">
        <div class="grab-bar" id="grabBar">Reply</div>
        <form class="post-form" enctype="multipart/form-data">
            <textarea id="post-content" name="post-content" placeholder=""></textarea>
            <input id="post-image" type="file" accept="image/*">
            <div>
                <input id="anonymous-post" type="checkbox">
                <label for="anonymous-post">Hide Name</label>
            </div>
            {{if .IsAdmin}}
            <div>
                <input id="pin-post" type="checkbox">
                <label for="pin-post">Pinned</label>
            </div>
            <div>
                <input id="lock-post" type="checkbox">
                <label for="lock-post">Locked</label>
            </div>
            <div>
                <input id="reject-sanitize" type="checkbox">
                <label for="reject-sanitize">Unsanitize</label>
            </div>
            {{end}}
            <p id="error-text" style="color: red;"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="footer">
        <p>(c) MMIV 2025</p>
    </div>

    <script type="module" src="/static/home/index.mjs"></script>
</body>