<head>
    <link rel="stylesheet" href="/static/home/index.css">
    <title>MMIV - GENERATIONAL GENOCIDE SINCE '94</title>
</head>
<body>
    <div class="main">
        <div class="nav-bar">
            <img class="main-img" src="/static/img/mmiv_1.png">
        </div>
        <div class="nav-bar header accented">
            <p class="button clickable" onclick="fetchPosts()">Return</p>
            <p class="button clickable" id="post-button">Post</p>

            <div class="nav-bar" style="margin-left: auto;">
                <p class="button clickable" onclick="logout()">Logout</p>
            </div>
        </div>
        <div id="content">
        </div>
    </div>
    <div class="resizable accented post-submit" style="display: none;" id="post-form">
        <div class="grab-bar" id="grabBar">Reply</div>
        <form class="post-form" enctype="multipart/form-data">
            <textarea id="post-content" name="post-content" placeholder=""></textarea>
            <input id="post-image" type="file" accept="image/*">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="accented post-submit" style="display: none;" id="option-menu">
        <p>example 1</p>
        <p>example 2</p>
        {{if .IsAdmin}}
        <p class="button clickable">pin post</p>
        {{end}}
    </div>
    <div class="footer">
        <p>(c) MMIV 2025 - FOREVER</p>
        <p>generation genocide since 1994</p>
    </div>

    <script src="/static/home/index.js"></script>
    {{if .IsAdmin}}
    <script src="/static/private/admin.js"></script>
    {{end}}
</body>