html, body {
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    background-color: #191923;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

p.button {
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
}

p.button:hover {
    background-color: #777780;
}

.main {
    flex: 1;
}

.highlight {
    color: #848db8;
}

.accented {
    background-color: #444450;
    margin: 0.5em 2em;

    border: 1px solid #777780;
    border-left-style: none;
    border-top-style: none;
}

.post-submit {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    min-width: 200px;
    min-height: 150px;
    resize: both;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    text-align: center;
}

.post-submit .grab-bar {
    background: #777780;
    color: white;
    padding: 5px;
    cursor: move;
    font-size: 14px;
    user-select: none;
}

.post-form {
    padding: 10px;
}

.post-form textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
    box-sizing: border-box;
    font-size: 14px;
}

.clickable {
    cursor: pointer;
}

.header {
    padding: 0em 0.5em;
    flex-shrink: 0;
}

.post-content {
    display: flex;
    align-items: center;
    padding: 0.5em;
    overflow: hidden;
    flex-grow: 1;
    max-height: 100%;
    gap: 0.5em;
}

.image-content {
    width: 150px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid #777780;
}

.text-content {
    margin: 0;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.nav-bar .main-img {
    padding: 1em;
}

.footer {
    background-color: #444450;
    color: white;
    padding: 1rem;
    text-align: center;
}