html, body {
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    background-color: #191923;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-img {
    justify-content: center;
    display: flex;
    padding: 1em;
}

.nav-bar {
    justify-content: right;
    display: flex;
    gap: 0.5rem;
    padding: 0rem 1rem;
    align-items: center;
}

.post-label {
    display: flex;
    gap: 0.5rem;
}

.post-label p {
    margin: 0;
}

.post-label .right {
    margin-left: auto;
}

.post-label .right p {
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

p.button {
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
}

p.button:hover {
    background-color: #777780;
}

.main {
    flex: 1;
    width: 75%;
    max-width: 1080px;
    min-width: 25%;
    margin: 0 auto;
}

.highlight {
    color: #848db8;
}

.emoticon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.accented {
    background-color: #444450;
    margin: 0.5em 2em;

    border: 1px solid #777780;
    border-left-style: none;
    border-top-style: none;
}

.resizable {
    resize: both;
}

.post-submit {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    min-width: 200px;
    min-height: 150px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    text-align: center;
}

.post-submit .grab-bar {
    background: #555560;
    color: white;
    padding: 5px;
    cursor: move;
    font-size: 14px;
    user-select: none;
}

.post-form {
    padding: 10px;
}

.post-form textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
    box-sizing: border-box;
    font-size: 14px;
}

.post-form button {
    color: white;
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
    border: none;
}

.post-form button:hover {
    background-color: #777780;
}

.clickable {
    cursor: pointer;
}

.header {
    padding: 0.1em 0.75em;
    flex-shrink: 0;
    background-color: #555560;
}

.post-content {
    display: flex;
    padding: 0.5em;
    overflow: hidden;
    flex-grow: 1;
    flex-wrap: nowrap;
    max-height: 100%;
    gap: 0.5em;
}

.image-content {
    width: 150px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid #555560;;
    max-width: 100%;
}

.text-content {
    margin: 0;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    flex-grow: 1;
}

.footer {
    background-color: #444450;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2em;
}

.announcement {
    background-color: #6363a8;
    margin: 0.5em 2em;
    padding: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid #454574;
    border-left-style: none;
    border-top-style: none;
}