html, body {
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    background-color: #191923;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    image-rendering: pixelated;
    background-image: url('/static/login/img/static.gif');
    background-color: #1B1B1E;
}

#login-container {
    background-color: #444450;

    max-width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    padding: 2em 0em;
}

input {
    color: white;
    background-color: #191923;

    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid white;
}

input:focus {
    outline: none;
}

button {
    color: white;
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
    border: 1px solid white;
}

button:hover {
    background-color: #777780;
}

.label {
    background-color: #444450;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2em;
}