html, body {
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    background-color: #191923;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    padding: 2em 0em;
}

input {
    color: white;
    background-color: #191923;

    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid white;
}

input:focus {
    outline: none;
}

button {
    color: white;
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
    border: 1px solid white;
}

button:hover {
    background-color: #777780;
}