html, body {
    margin: 0;
    padding: 0;

    font-family: 'Arial';
    background-color: #191923;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

button {
    color: white;
    padding: 0.4em 1em;
    background-color: #191923;
    transition: background-color 0.2s ease, transform 0.1s ease;
    user-select: none;
}

button:hover {
    background-color: #777780;
}